@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');

body, html {
    min-width: 100%;
    width: 100%;
    height: 100%;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
    scroll-behavior: smooth;
}

span {
    color: red;
    font-weight: bold;
}

.toggle {
    position: fixed;
    top: 30px;
    right: 30px;
    width: 50px;
    height: 50px;
    background: #000 url(img/menu.png);
    background-size: 30px;
    background-position: center;
    background-repeat: no-repeat;
    cursor:pointer;
    z-index: 1000;

}

.toggle.active {
    background: #000 url(img/close.png);
    background-size: 25px;
    background-position: center;
    background-repeat: no-repeat;

}

section {
    padding: 100px;
    min-height: 100vh;
}

p {
    font-size: 1.1em;
    margin: 20px 0;
    font-weight: 300;
}


.sidebar {
    position: fixed;
    background: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    right: 0;
    width: calc(100% - 500px);
    height: 100%;
    padding: 100px;
    transition: 0.5s;
    padding : 40px;
    z-index: 100;
    right: -100%;
}

.sidebar.active {
    right: 0;
}

.sidebar ul {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.sidebar ul li {
    list-style: none;
}

.sidebar ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 2em;
    margin: 10px 0;
    font-weight: 300;
    letter-spacing: 2px;
    text-transform: uppercase;

}

.sidebar ul li a:hover {
    color: #00bcd4;
}

.title {
    width: 100%;
    text-align: center;
}

.title h2 {
    position: relative;
    color: #00bcd4;
    font-size: 1.8em;
    font-weight: 700;
    letter-spacing: 1px;
}

.title p {
    max-width: 700px;
    display: inline-block;
}

.title h2::before {
    content: '';
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -10px;
    width: 60px;
    height: 4px;
    background: #000;
}


.title.white h2, .title.white p {
    color: #fff;
}

.title.white h2::before {
    background: #fff;
}

.gg {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height : 100vh;
}

.gg button {
    background: #00bcd4;
    color: #fff;
    margin: 3rem;
    padding : 10px 30px;
    display: inline-block;
    text-decoration: none;
    font-weight: 500;
    letter-spacing: 2px;
    transition: 1s;
}

.gg button:hover {
    cursor: pointer;
    background:red;
    transition: 1s;
    transform: scale(150%);
    border-radius: 25px;
}

.bc {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height : 100vh;
}

.bc .content {
    text-align: center;
    border-radius: 25px;
    border: solid 25px rgb(107, 55, 55);
    color: #fff;
    font-size: 14px;
    background: rgb(107, 55, 55);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#logsArea {
    text-align: center;
    font-size: 0.9rem;
    resize: none;
}

.rps {
    display: flex;
    align-items: center;
    justify-content: center;
    height : 100vh;
    background: rgb(38, 38, 38);
    flex-direction: column;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
}

h3#gameStatusRPS {
    margin-bottom: 3rem;
}

.rps .content img { width: 100px }

.choices > div {
    display: inline-block;
    margin: 2rem;
    padding: 0.5rem;
    transition: all 0.4s ease-in-out;
}

.choices > div:hover {
    transform: scale(120%);
    cursor: pointer;
}

.morpion {
    background: rgb(38, 38, 38);
    color: white;
    box-sizing: border-box;
    font-family: monospace
}

h2#gameStatus{
    text-align: center;
}


.cell.morpion {
    height: 100px;
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 80px;
    border: 2px solid black;
    cursor: pointer;
}

.board {
    width: 300px;
    display: flex;
    flex-wrap: wrap;
    margin: 4rem auto;
}

.white { color: white }

#gameEnd {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0; right: 0; bottom: 0; left: 0;
    background-color: black;
}

#gameEnd p, #gameEnd input {
    position: fixed;
    top: 45%; left: 45%;
    transform: translate(-45%, -45%);
    text-align: center;
}

#gameEnd p { margin-top: 2rem }

.sudoku {
    box-sizing: border-box;
    text-align: center;
}

#grid, #selection {
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    width: 600px;
}

#grid {
    height: 600px;
    margin-top: 6rem;
}
  
#selection {
    height: 50px;
    margin-top: 3rem;
    padding-left: 0.2rem;
}

#mistakes {
    color: red;
    font-weight: bold;
    font-size: 1.5rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.cell, .digit {
    width: 64.23px;
    height: 64.23px;
    border: 1px solid rgba(0, 0, 0, 0.572);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    cursor: pointer;
}

.digit { width: 58px }

.cell-bottom-border { border-bottom: 3px solid black }
.cell-right-border { border-right: 3px solid black }

.selected-digit {
    background-color: rgba(165, 36, 250, 0.695);
    color: black;
}

.correct-digit { background-color: rgba(104, 255, 104, 0.605) }
.wrong-digit { background-color: rgba(253, 87, 87, 0.581) }
  
.running {
    display: flex;
    align-items: center;
    justify-content: center;
    height : 100vh;
    background: rgb(38, 38, 38);
    flex-direction: column;
}
.running .content {
    background-color: white;
    padding: 20px;
    border-radius: 6px;
    box-shadow : 0 0 50px rgba(0,0,0,1);

}
.jeu{
    width: 500px;
    height: 200px;
    border: 1px solid black;
    overflow: hidden;
    border: 0;
    border-bottom: 1px solid blue;
}
.perso{
    width: 20px;
    height: 50px;
    position: relative;
    top: 150px;
}
.animation {
    animation: perso-saut 500ms infinite;
}
@keyframes perso-saut {
    0%{
        top: 130px;
    }
  25% {
    top: 80px;
  }
  50% {
    top: 80px;
  }
  100% {
    top: 130px;
  } 
}
.perso img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.obstacles{
    width: 20px;
    height: 20px;
    background-color: black;
    position: relative;
    top: 130px;
    left: 480px;
    border-radius: 50%;
}

.start {
    animation: anime-obstacles 2.5s infinite;
}

@keyframes anime-obstacles {
    0% {
        left: 480px;
    }
    100% {
        left: -40px;
    }
    }
.control {
    margin-top: 20px;
    text-align: center;
}
.control a,.control button {
    padding: 10px 50px;
    border-radius: 4px;
    border: 0;
    box-shadow: 0 0 50px black;
    font-weight: bold;
    cursor: pointer;
    background-color: white;
    font-size: 15px;
    text-decoration: 0;
    color: black;
}

.copyright {
    color: #fff;
    background: #111;
    text-align: center;
    padding: 10px;
}

.copyright p {
    margin: 0;
    font-size: 16px;
}

@media (max-width: 750px) {
    
    body, html {
        min-width: 100%;
        width: 150%;
        height: 100%;
    }
    .obstacles {
        left: 680px;
    }

    .jeu{
        width: 720px;
    }

    .toggle {
        top: 100px;
        right: 100px;
    }

    section {
        padding: 40px;
        min-width: 1603px;
    }

    .sidebar ul li a {
        font-size: 1.5em
    }

    div.content {
        width: 760px;
        text-align: center;
    }

    .gg button {
        margin: 3rem auto;
    }

    div.content {
        margin: 0 auto;
    }

    .copyright {
        width: 1600px;
    }

    .sidebar {
        width: 100%;
        padding: 40px;
    }

    .sidebar ul li a {
        font-size: 5em
    }

    .toggle {
        transform: scale(3);
    }
    .toggle.active {
        transform: scale(3);
    }



}

/* @media (max-width: 500px) {

    .obstacles {
        left: 580px;
    }

    .jeu{
        width: 620px;
    }

    .toggle {
        right: 40px;
    }

    section {
        padding: 40px;
    }

    .sidebar ul li a {
        font-size: 1.5em
    }

    div.content {
        width: 660px;
        min-height: 100%;
    }
} */