<section class="banner" id="home">
    <div class="imgSidebar">
      <img src="assets/img/bg.jpg" alt="">
    </div>
    <div class="contentBx">
        <div>
            <h4><span>Bonjour</span>, Nous sommes</h4>
            <h2>Kwency, EstebaN et Amara</h2>
            <h4>Nous sommes une équipe de développeur web full stack.</h4>
            <h4>Et nous sommes heureux de vous présenter notre portfolio.</h4>
            <br>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis perferendis minus eveniet laborum consequatur, aspernatur commodi veritatis impedit blanditiis alias, deleniti dolore voluptas ipsum, doloribus quasi omnis id libero dolorem. fugit exercitationem aperiam fuga blanditiis amet veniam aliquid, at sapiente eum officiis repellendus natus laborum, qui nobis. Quam at officia sed vitae quaerat voluptates.
            Asperiores autem perspiciatis hic velit amet quasi! Voluptatem suscipit debitis voluptates maxime quae illo iure tempore. Nostrum eaque quidem, eius voluptatum inventore ipsa incidunt eos doloremque minima, ut officia enim.
            Voluptate est dolorum nisi quaerat odit adipisci ratione doloremque ipsum modi eaque, reiciendis voluptas laboriosam error qui facere, vero eius deleniti. Odit animi, magnam corporis quibusdam voluptatem recusandae iste doloribus!</p>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quibusdam, autem eius, quasi doloribus voluptates, obcaecati dolorum quod commodi minus perferendis voluptatem quis ipsum molestias voluptate labore accusantium sed exercitationem temporibus.</p>
            <br>
            <a href="#contact" class="btn">Contactez-nous</a>
        </div>
        <ul class="sci">
            <li><a href="#" target="_blank"><img src="img/facebook.png" alt=""></a></li>
            <li><a href="#" target="_blank"><img src="img/twitter.png" alt=""></a></li>
            <li><a href="#" target="_blank"><img src="img/instagram.png" alt=""></a></li>
        </ul>
    </div>