<section class="about" id="about">
    <div class="title white">
        <h2>A Propos</h2>
        <p>Voici une brève présentation de moi et un résumé de mes compétences et objectifs professionnels.</p>
    </div>
    <div class="content">
        <div class="textBx">
            <p>J'ai 22 ans et je vis en région parisienne je suis un étudiant en informatique en 2ème année, au cours de ma formation, j'ai acquis une solide formation en développement web et en programmation. Mon objectif principal est de devenir un développeur web professionnel et de travailler sur des projets passionnants. Je suis doté de soft skills tels que le travail d'équipe, l'écoute, l'autonomie et l'engagement.
            </p>
            <p>En ce qui concerne mes compétences en informatique, je suis compétent en Javascript, PHP, Python, SQL, l'environnement Linux et HTML/CSS. Je suis passionné par le développement de logiciels et j'aime travailler sur des projets qui mettent en œuvre mes compétences.
            </p>
            <p>En plus de mes compétences en développement, je suis également formé en web marketing et je suis capable d'analyser les données pour optimiser les campagnes marketing. Mon objectif professionnel est de devenir data analyst tout en utilisant mes compétences en web marketing pour aider les entreprises à atteindre leurs objectifs. Je suis également intéressé par la résolution de problèmes complexes en utilisant mes compétences en programmation. Je suis déterminé à apprendre et à développer mes compétences en continu afin de devenir un expert en analyse de données et en marketing en ligne.</p>
        </div>
        <div class="imgBx">
            <img src="assets/img/bg1.jpg" alt="">
        </div>
    </div>
</section>