<section class="services" id="services">
    <div class="title">
        <h2>Mes Services</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero blanditiis fuga, excepturi debitis vero quia, voluptatibus natus quod maiores animi, aperiam veniam odit? Veritatis quae perspiciatis beatae, explicabo nobis sequi?</p>
    </div>
    <div class="content">
        <div class="servicesBx">
            <img src="img/icon1.png" alt="">
            <h2>Conception de Site Web</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid odit eos repudiandae earum doloremque quaerat minus, blanditiis, deleniti reiciendis cum incidunt voluptates, ut et? Mollitia placeat accusantium voluptas distinctio accusamus.</p>
        </div>
        <div class="servicesBx">
            <img src="img/icon2.png" alt="">
            <h2>Developpement Web</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid odit eos repudiandae earum doloremque quaerat minus, blanditiis, deleniti reiciendis cum incidunt voluptates, ut et? Mollitia placeat accusantium voluptas distinctio accusamus.</p>
        </div>
        <div class="servicesBx">
            <img src="img/icon3.png" alt="">
            <h2>Application Android</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid odit eos repudiandae earum doloremque quaerat minus, blanditiis, deleniti reiciendis cum incidunt voluptates, ut et? Mollitia placeat accusantium voluptas distinctio accusamus.</p>
        </div>
        <div class="servicesBx">
            <img src="img/icon4.png" alt="">
            <h2>Photographie</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid odit eos repudiandae earum doloremque quaerat minus, blanditiis, deleniti reiciendis cum incidunt voluptates, ut et? Mollitia placeat accusantium voluptas distinctio accusamus.</p>
        </div>
        <div class="servicesBx">
            <img src="img/icon5.png" alt="">
            <h2>Rédaction de Contenu</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid odit eos repudiandae earum doloremque quaerat minus, blanditiis, deleniti reiciendis cum incidunt voluptates, ut et? Mollitia placeat accusantium voluptas distinctio accusamus.</p>
        </div>
        <div class="servicesBx">
            <img src="img/icon6.png" alt="">
            <h2>Montage Vidéo</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid odit eos repudiandae earum doloremque quaerat minus, blanditiis, deleniti reiciendis cum incidunt voluptates, ut et? Mollitia placeat accusantium voluptas distinctio accusamus.</p>
        </div>
    </div>
</section>