<section class="contact" id="contact">
    <div class="title white">
        <h2>Contactez-Nous</h2>
        <p>Si vous avez des questions ou des commentaires, n'hésitez pas à nous contacter.</p>
    </div>
    <div class="contactForm">
        <div class="row">
            <div class="col50">
                <input type="text" name="" placeholder="Prénom">
            </div>
            <div class="col50">
                <input type="text" name="" placeholder="Nom">
            </div>
        </div>
        <div class="row">
            <div class="col50">
                <input type="email" name="" placeholder="E-mail">
            </div>
            <div class="col50">
                <input type="tel" name="" placeholder="Numéro Mobile">
            </div>
        </div>
        <div class="row">
            <div class="col100">
                <textarea placeholder="Message"></textarea>
            </div>
        </div>
        <div class="row">
            <div class="col100">
                <input type="submit" value="Envoyer">
            </div>
        </div>
    </div>
</section>